#cta.button,#cta.button-link,#cta.button:visited
  {
  font-family: "lucida grande", "lucida sans unicode", arial, sans-serif
    !important;
  font-weight: bold !important;
  font-size: 20px !important;
  line-height: 1 !important;
  background: #222
    url(//d1nu2rn22elx8m.cloudfront.net/static/images/button-shadow.png)
    repeat-x;
  _background: #222 none;
  display: inline-block;
  color: #fff !important;
  text-decoration: none !important;
  margin: 0 !important;
  padding: .6em 1.3em .6em !important; *
  padding: .7em 1.4em 1em !important;
  -moz-border-radius: .4em !important;
  -webkit-border-radius: .4em !important;
  border-radius: 5px !important;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.3) !important;
  border: none !important;
  position: relative !important;
  cursor: pointer !important;
  width: auto !important;
  overflow: visible !important;
  vertical-align: baseline !important; *
  vertical-align: middle !important;
}

#cta.button:hover {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.75) !important;
}

a#cta.button:active {
  top: 1px !important;
}

#cta.green.button,.green.button:visited {
  background-color: #090 !important;
}

#cta.green.button:hover {
  background-color: #060 !important;
}

#cta.blue.button,.blue.button:visited {
  background-color: #3A8CD5 !important;
}

#cta.blue.button:hover {
  background-color: #1760AF !important;
}

#cta.turquoise.button,.turquoise.button:visited {
  background-color: #2daebf !important;
}

#cta.turquoise.button:hover {
  background-color: #007d9a !important;
}

#cta.red.button,.red.button:visited {
  background-color: #CC1100 !important;
}

#cta.red.button:hover {
  background-color: #991100 !important;
}

#cta.fire.button,.fire.button:visited {
  background-color: #FF030D !important;
}

#cta.fire.button:hover {
  background-color: #991100 !important;
}

#cta.magenta.button,.magenta.button:visited {
  background-color: #a9014b !important;
}

#cta.magenta.button:hover {
  background-color: #630030 !important;
}

#cta.orange.button,.orange.button:visited {
  background-color: #ff5c00 !important;
}

#cta.orange.button:hover {
  background-color: #d45500 !important;
}

#cta.yellow.button,.yellow.button:visited {
  background-color: #ffb515 !important;
}

#cta.yellow.button:hover {
  background-color: #fc9200 !important;
}